:root {
    --grid-gap: 5px;
    --key-width: 50px;
    --main-ratio: 15.25;
    --main-multiplier: 4;
}

.page {
    width: 1020px;
    margin: 0 auto;
    border: 2px solid lightpink;
}

.virtual-keyboard__keyboard {
    margin-top: 200px;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(
        calc(var(--main-ratio)*var(--main-multiplier)), 
        calc((var(--key-width) - var(--grid-gap)*(var(--main-multiplier) - 1))/var(--main-multiplier))
    );
    grid-template-rows: repeat(5, var(--key-width));
    gap: var(--grid-gap) var(--grid-gap);
}

.keyboard__key-code {
    position: relative;
    box-sizing: border-box;
    grid-column: span var(--main-multiplier);
    border: 1px solid lightpink;
    background-color: lightslategray;
    color: linen;
}

.key-code_tab {
    grid-column: span calc(1.5*var(--main-multiplier));
}

.key-code_capslock {
    grid-column: span calc(1.75*var(--main-multiplier));
}

.key-code_backspace {
    grid-column: span calc(2.25*var(--main-multiplier));
}

.key-code_enter {
    position: relative;
    grid-column: span calc(1.75*var(--main-multiplier));
    grid-row: span 2;
}

.key-code_backslash {
    grid-column: span 1;
    width: 50px;
    position: relative;
    box-shadow: white var(--grid-gap) 0 0 var(--grid-gap);
}

.key-code_shiftleft {
    grid-column: span calc(1.5*var(--main-multiplier));
}

.key-code_shiftright {
    grid-column: span calc(2.75*var(--main-multiplier));
}

.key-code_controlleft {
    grid-column: span calc(1.75*var(--main-multiplier));
}

.key-code_osleft {
    grid-column: span calc(1.25*var(--main-multiplier));
}

.key-code_altleft {
    grid-column: span calc(1.25*var(--main-multiplier));
}

.key-code_space {
    grid-column: span calc(6*var(--main-multiplier));
}

.key-code_altright {
    grid-column: span calc(1.25*var(--main-multiplier));
}

.key-code_contextmenu {
    grid-column: span calc(1.5*var(--main-multiplier));
}

.key-code_controlright {
    grid-column: span calc(2.25*var(--main-multiplier));
}



.keyboard__key {
    position: absolute;
    cursor: pointer;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    line-height: var(--key-width);
    height: 100%;

    visibility: hidden;
}

.keyboard__key_pressed {
    background-color: yellowgreen;
}

.keyboard__key_visible {
    visibility: visible;
}
