:root {
    --grid-gap: 5px;
    --key-width: 60px;
    --main-ratio: 15.25;
    --main-multiplier: 4;
    --key-border-color: lightpink;
    --key-border-width: 1px;
    --key-bg-color: lightslategray;
    --keyboard-bg-color: white;
    --key-pressed-bg-color: yellowgreen;
}

.virtual-keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--keyboard-bg-color);
}

.virtual-keyboard__keyboard {
    margin-top: 100px;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(
        calc(var(--main-ratio)*var(--main-multiplier)), 
        calc((var(--key-width) - var(--grid-gap)*(var(--main-multiplier) - 1))/var(--main-multiplier))
    );
    grid-template-rows: repeat(5, var(--key-width));
    gap: var(--grid-gap) var(--grid-gap);
}

.keyboard__key-code {
    position: relative;
    box-sizing: border-box;
    grid-column: span var(--main-multiplier);
    color: linen;
    user-select: none;
    font-weight: 700;
    font-size: 20px;
}

.key-code_tab {
    grid-column: span calc(1.5*var(--main-multiplier));
}

.key-code_capslock {
    grid-column: span calc(1.75*var(--main-multiplier));
}

.key-code_backspace {
    grid-column: span calc(2.25*var(--main-multiplier));
}

.key-code_enter {
    position: relative;
    grid-column: span calc(1.75*var(--main-multiplier));
    grid-row: span 2;
}

.key-code_backslash {
    grid-column: span 1;
    width: var(--key-width);
}

.key-code_shiftleft {
    grid-column: span calc(1.5*var(--main-multiplier));
}

.key-code_shiftright {
    grid-column: span calc(1.75*var(--main-multiplier));
}

.key-code_controlleft {
    grid-column: span calc(1.25*var(--main-multiplier));
}

.key-code_osleft {
    grid-column: span calc(1.25*var(--main-multiplier));
}

.key-code_altleft {
    grid-column: span calc(1.25*var(--main-multiplier));
}

.key-code_space {
    grid-column: span calc(6*var(--main-multiplier));
}

.key-code_altright {
    grid-column: span calc(1.25*var(--main-multiplier));
}

.key-code_contextmenu {
    grid-column: span calc(1.5*var(--main-multiplier));
}

.key-code_controlright {
    grid-column: span calc(1.25*var(--main-multiplier));
}



.keyboard__key {
    position: absolute;
    cursor: pointer;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    line-height: var(--key-width);
    height: 100%;
    background-color: lightslategray;

    visibility: hidden;
    border: var(--key-border-width) solid var(--key-border-color);
}

.keyboard__key_pressed {
    animation: 0.1s ease-in 1 normal forwards supression;
    background-color: var(--key-pressed-bg-color);
}

@keyframes supression {
    from {
        transform: scale(100%);
    }
    to {
        transform: scale(85%);
    }
}

.keyboard__key_visible {
    visibility: visible;
}


.textarea {
    width: 100%;
    resize: none;
    min-width: 400px;
    min-height: 300px;
    font-size: 25px;
}

.virtual-keyboard__textarea {
    max-width: 986px;
}

.keyboard__key[data-code="Enter"]::after {
    position: absolute;
    content: '';
    height: 51.97%;
    width: 15.45%;
    bottom: -1px;
    left: -1px;
    background-color: var(--keyboard-bg-color);
    border-right: var(--key-border-width) solid var(--key-border-color);
    border-top: var(--key-border-width) solid var(--key-border-color);
}